In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")

In [17]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [135]:
df.loc[df['calculated_host_listings_count']>=10].groupby(['host_id']).agg({
    'neighbourhood':'nunique',
    'neighbourhood_group' : 'nunique',
    
    
}
).describe().round(2)

       neighbourhood  neighbourhood_group
count         115.00               115.00
mean            2.90                 1.16
std             3.34                 0.49
min             1.00                 1.00
25%             1.00                 1.00
50%             1.00                 1.00
75%             3.00                 1.00
max            21.00                 4.00

In [129]:
df.groupby(df.name.str.contains('cozy').rename('is_cozy')).agg({
    'calculated_host_listings_count':'count',
    'price':['median', 'mean']
}).rename(columns={'count':'num_listing', 'calculated_host_listings_count':'', 'price':'', 'median':'median_price', 'mean':'mean_price'},
        )

        num_listing median_price  mean_price
is_cozy
False         48167        109.0  153.553823
True            712         78.0   96.473315

In [131]:
df.groupby(['room_type',df.name.str.contains('cozy').rename('is_cozy')]).agg({
    'calculated_host_listings_count':'count',
    'price':['median', 'mean']
}).rename(columns={'count':'num_listing', 'calculated_host_listings_count':'', 'price':'', 'median':'median_price', 'mean':'mean_price'},
        )

                        num_listing median_price  mean_price
room_type       is_cozy
Entire home/apt False         25149        160.0  212.527258
                True            253        125.0  138.308300
Private room    False         21894         70.0   90.064630
                True            424         60.0   75.431604
Shared room     False          1124         45.0   70.733096
                True             35         48.0   48.971429

In [141]:
df.loc[df['calculated_host_listings_count']>=3].groupby(['room_type']).agg({
    'calculated_host_listings_count':'std',
    
    
}
).rename(columns={'calculated_host_listings_count':'std_of_this_room'},
        )

                 std_of_this_room
room_type
Entire home/apt         97.777981
Private room            19.345540
Shared room              7.378357